asgiref==3.7.2
base58==2.1.1
beautifulsoup4==4.12.3
bitcoin==1.1.42
certifi==2022.9.24
charset-normalizer==3.3.2
colorama==0.4.6
Cython==3.0.5
distlib==0.3.6
dj-database-url==2.1.0
Django==5.0.1
django-heroku==0.3.1
ecdsa==0.18.0
filelock==3.8.0
gunicorn==21.2.0
hdwallet==2.2.1
idna==3.6
lxml==5.1.0
mnemonic==0.21
mysql-connector-python==8.0.30
numpy==1.26.1
packaging==23.2
pandas @ file:///C:/Users/obgwo/OneDrive/Desktop/ProjectsAlgo/pandas
pillow==10.2.0
pipenv==2022.10.12
platformdirs==2.5.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycryptodome==3.20.0
pypng==0.20220715.0
python-dateutil==2.8.2
pytz==2023.3.post1
qrcode==7.4.2
ratelimit==2.2.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
virtualenv==20.16.5
virtualenv-clone==0.5.7
whitenoise==6.6.0
