@media screen and (max-width: 1025px) {
    #refresh-div {
        width: 50%;
    }

    .wallet-info-div {
        width: 80%;
    }

    #receive-div , #send-div, #withdraw-div{
        width: 80%;
    }

    .educational-div {
        width: 80%;
    }
}

@media screen and (max-width: 769px) {
    #public-address-text {
        font-size: 22px;
    }
    #private-key {
        width: 100%;
    }
    #private-key-text {
        word-wrap: break-word;
        max-width: 80%;
        margin: 0 auto;
        font-size: 20px;
    }
    #refresh-div {
        width: 70%;
    }
}

