body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 224, 144);
    margin: 0;
    padding: 0;
}

.error-message {
    color: red;
}

.index-wrapper {
    text-align: center;
}

.register-wrapper {
    text-align: center;
}

.login-wrapper {
    text-align: center;
}

.dashboard-wrapper {
    text-align: center;
}

.switch-icon {
    width: 40px;
    cursor: pointer;
}

.qr-code {
    width: 140px;
    height: 140px;
}

.btc-icon {
    width: 45px;
    height: 45px;
}

.usd-icon {
    width: 42px;
    height: 42px;
}

.satoshi-icon {
    width: 42px;
    height: 42px;
}

.balance-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.send-receive-div {
    display: flex;
    justify-content: center;
}

.send-receive-button {
    height: 50px;
    width: 120px;
}

#receive-div {
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
}

.active-button {
    background-color: rgb(158, 158, 158);
}

.refresh-div p {
    color: red;
}

.refresh-button {
    height: 40px;
    width: 100px;
}