body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 224, 144);
    margin: 0;
    padding: 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.error-message {
    color: red;
    font-style: italic;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 22px;
}

.index-wrapper {
    text-align: center;
    height: fit-content;
    padding-bottom: 10vh;
}

.register-wrapper {
    text-align: center;
    height: fit-content;
    padding-bottom: 10vh;
}

.login-wrapper {
    text-align: center;
    height: fit-content;
    padding-bottom: 10vh;
}

.dashboard-wrapper {
    text-align: center;
    height: fit-content;
    padding-bottom: 10vh;
}

.questions-wrapper {
    text-align: center;
    height: fit-content;
    padding-bottom: 10vh;
}

#header {
    margin-top: 5vh;
}
.switch-icon {
    width: 40px;
    cursor: pointer;
}

.small-icon {
    width: 40px;
}

.normal-icon {
    width: 70px;
}

.qr-code {
    width: 160px;
    height: 160px;
}

.btc-icon {
    width: 45px;
    height: 45px;
}

.usd-icon {
    width: 42px;
    height: 42px;
}

.satoshi-icon {
    width: 42px;
    height: 42px;
}

.balance-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.send-receive-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.educational-div {
    width: 50%;
    margin: 0 auto;
}

#receive-div , #send-div, #withdraw-div{
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 194, 97);
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.active-button {
    transform: scale(1.1);
}

#refresh-div {
    color: rgb(0, 0, 0);
    width: 30%;
    margin: 0 auto;
    margin-top: 2vh;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(191, 191, 191);
}

.receive , .send , .withdraw {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.standard-button {
    padding: 20px;
    height: fit-content;
    width: 200px;
    border-radius: 10px;
    border: 3px solid black;
    font-family: 'Sixtyfour', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(214, 78, 252);
    color: white;
    box-shadow: 0 5px 5px black;
}

.standard-button:hover{
    background-color: rgb(172, 11, 217);
    cursor: pointer;
}

.standard-submit-button {
    width: fit-content;
    border-radius: 5px;
    border: 3px solid black;
    height: fit-content;
    font-family: 'Pixelify Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    box-shadow: 0 2px 2px black;
    padding: 10px;
}

.standard-submit-button:hover {
    background-color: rgb(255, 209, 3);
    cursor: pointer;
}

.logout-button {
    width: 140px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Sixtyfour', sans-serif;
    text-align: center;
    border: 5px solid black;
    background-color: red;
    color: white;
    box-shadow: 0 3px 3px black;
}

.logout-button:hover {
    background-color: rgb(169, 4, 4);
    cursor: pointer;
}

.nav-button {
    width: 170px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Sixtyfour', sans-serif;
    text-align: center;
    border: 5px solid black;
    background-color: rgb(56, 178, 0);
    color: white;
    box-shadow: 0 3px 3px black;
}

.nav-button:hover {
    background-color: rgb(48, 146, 2);
    cursor: pointer;
}

.nav-active {
    background-color: rgb(48, 146, 2);
    transform: scale(1.1);
}

/* font-family: 'Exo 2', sans-serif;
font-family: 'Honk', system-ui;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Sixtyfour', sans-serif; */

.font-sixty-four-div {
    font-family: 'Sixtyfour', sans-serif;
}

.font-pixelify-div {
    font-family: 'Pixelify Sans', sans-serif;
}

.font-honk-div {
    font-family: 'Honk', system-ui;
}

.font-exo-div {
    font-family: 'Exo 2', sans-serif;
}

.red {
    color: red;
}

.italics {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}


.logo-text h1 {
    font-family: 'Honk', system-ui;
    font-size: 120px;
}

.logo-text h2 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 50px;
}

.header-text {
    font-family: 'Sixtyfour', sans-serif;
}

.info-text {
    font-family: 'Sixtyfour', sans-serif;
    font-size: 20px;
}

.normal-text {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
}

.intro-div {
    display: flex;
    flex-direction: column;
}

.wallet-info-div {
    margin-top: 10vh;
    border: 5px solid rgb(0, 0, 0);
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.81);
}

.logo-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -9vh;
}

.btc-gif {
    width: 100px;
    height: 100px;
}

#btc-gif {
    margin-top: -3vh;
}

.login-and-register-buttons-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5vh;
}

.newspaper-div {
    margin-top: 5vh;
}

.newspaper-clipping {
    width: 420px;
    height: 250px;
    box-shadow: 0 10px 10px black;
}

.login-form-wrapper, .register-form-wrapper {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.standard-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
}

.standard-form input {
    border-radius: 10px;
    padding: 7px;
    font-size: 20px;
    border: 5px solid black;
    font-family: 'Pixelify Sans', sans-serif;
}

.construction-icon {
    width: 200px;
}