body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 224, 144);
    margin: 0;
    padding: 0;
}

.error-message {
    color: red;
    font-style: italic;
}

.index-wrapper {
    text-align: center;
}

.register-wrapper {
    text-align: center;
}

.login-wrapper {
    text-align: center;
}

.dashboard-wrapper {
    text-align: center;
}

.switch-icon {
    width: 40px;
    cursor: pointer;
}

.qr-code {
    width: 140px;
    height: 140px;
}

.btc-icon {
    width: 45px;
    height: 45px;
}

.usd-icon {
    width: 42px;
    height: 42px;
}

.satoshi-icon {
    width: 42px;
    height: 42px;
}

.balance-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.send-receive-div {
    display: flex;
    justify-content: center;
    gap: 5vh;
}

.send-receive-button {
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: 3px solid black;
}

#receive-div {
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
}

.active-button {
    background-color: rgb(158, 158, 158);
}

.refresh-div p {
    color: rgb(250, 135, 28);
}

.refresh-button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 3px solid black;
}

/* font-family: 'Exo 2', sans-serif;
font-family: 'Honk', system-ui;
font-family: 'Pixelify Sans', sans-serif; 
font-family: 'Sixtyfour', sans-serif; */

.logo-text h1 {
    font-family: 'Honk', system-ui;
    font-size: 70px;
}

.header-text h2 {
    font-family: 'Sixtyfour', sans-serif;
}

.info-text p {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 25px;
}

.normal-text p {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}

