{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brink Wallet</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Honk&family=Pixelify+Sans&family=Sixtyfour&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dashboard-wrapper">
        <div class="logo-text">
            <div class="logo-and-text">
                <h1>Brink Wallet</h1>
                <img  id="btc-gif" class="btc-gif" src="{% static 'images/bitcoin-gif.gif' %}" alt="Bitcoin logo gif">
            </div>
        </div>

        <div class="header-text">
            <h2>Hello, {{ user.username }}</h2>
            <div class="navigation-links-div">
                <a href="dashboard"><button class="nav-button nav-active">Dashboard</button></a>
                <a href="questions"><button class="nav-button">?</button></a>
                <a href="logout"><button class="logout-button">Logout</button></a>
            </div>
        </div>
        <div id="header" class="header-text">
            <h2>Current Bitcoin Price: <u>${{ detail.live_btc_price }}</u></h2>
        </div>

        <div class="send-receive-div">
            <button onclick="sendBitcoin(event)" class="standard-button" id="send-button">Send bitcoin</button>
            <button onclick="receiveBitcoin(event)" class="standard-button" id="receive-button">Receive bitcoin</button>
        </div>

        <div id="send-div" class="font-sixty-four-div">
            <h3>This feature is currently being built</h3>
            <h3>Come back for it soon!</h3>
            <div>
                <img class="construction-icon" src="{% static 'images/under-construction.webp' %}" alt="Under construction">
            </div>
        </div>
        
        <div id="receive-div" class="font-sixty-four-div">
            <h4>Remember to ONLY send BTC to this address</h4>
            <h3>Your Wallet Address:</h3>
            <div>
                <h2><u>{{ user.first_name }}</u></h2>
            </div>
            <div>
                <img class="qr-code" src="{% static 'images/qrcode.png' %}" alt="QR Code">
            </div>
            <!-- <div>
                <a href="generate_new_address"><button>Generate new address</button></a>
            </div> -->
        </div>
        
        <div class="wallet-info-div">
            <div class="info-text">
                <p>
                    Your Wallet Info
                </p>
                <div>
                    <img id="switch-icon" class="switch-icon" src="{% static 'images/switch-icon.png' %}" alt="QR Code Address">
                </div>
                <div>
                    <div id="btc-div" class="balance-div">
                        <p>Balance: {{ detail.wallet_info.balance_btc }} BTC</p>
                        <img class="btc-icon" src="{% static 'images/btc-icon.png' %}" alt="BTC Icon">
                    </div>
                    <div id="satoshi-div" class="balance-div">
                        <p>Balance: {{ detail.wallet_info.balance_satoshis }} satoshis</p>
                        <img class="satoshi-icon" src="{% static 'images/satoshi-icon.png' %}" alt="Satoshi Icon">
                    </div>
                    <div id="usd-div" class="balance-div">
                        <p>Balance: ${{ detail.wallet_info.balance_usd }} USD</p>
                        <img class="usd-icon" src="{% static 'images/usd-icon.png' %}" alt="USD Icon">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-text">
            <p>Transactions: {{ detail.wallet_info.transactions }}</p>
            <p>Total BTC Received: {{ detail.wallet_info.total_received }}</p>
            <p>Total BTC Sent: {{ detail.wallet_info.total_sent }}</p>
        </div>

        

        <div class="refresh-div normal-text">
            <img class="small-icon" src="{% static 'images/exclamation-icon.png' %}" alt="Exclaimation!">
            <p>Due to current rate limits, we use cache data to store your wallet information.</p>
            <p>If you made new transactions recently, click "Refresh" below to update your address.</p>
            <p>NOTE: Users can only refresh wallet data once roughly every FIVE minutes</p>
            <div class="error-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            <a href="refresh_wallet_info"><button class="standard-submit-button">Refresh</button></a>
        </div>


    </div>


<script type="text/javascript" src="{% static '/script.js' %}"></script>
</body>
</html>