{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brink Wallet</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="dashboard-wrapper">
        <h2>Hello, {{ user.username }}</h2>
        
        <div>
            <h2>Currently Bitcoin Price: {{ detail.live_btc_price }}</h2>
        </div>
        
        <div>
            <h2>Your Bitcoin Address:</h2>
            <h2>{{ user.first_name }}</h2>
        </div>
        
        <div>
            <a href=""><button>Send bitcoin</button></a>
        </div>
        <div>
            <a href=""><button>Receive bitcoin</button></a>
        </div>
        
        <div>
            <h3>Balance: {{ detail.wallet_info.balance_btc }} BTC</h3>
            <h3>Transactions: {{ detail.wallet_info.transactions }}</h3>
            <h3>Total BTC Received: {{ detail.wallet_info.total_received }}</h3>
            <h3>Total BTC Sent: {{ detail.wallet_info.total_sent }}</h3>
        </div>

        <div>
            <a href="logout">Logout</a>
        </div>
    </div>

</body>
</html>