{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brink Wallet</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Honk&family=Pixelify+Sans&family=Sixtyfour&display=swap" rel="stylesheet">
</head>
<body>
    <div class="index-wrapper">
        <div class="intro-div logo-text">
            <h2>Welcome to</h2>
            <div class="logo-and-text">
                <h1>Brink Wallet</h1>
                <img id="btc-gif" class="btc-gif" src="{% static 'images/bitcoin-gif.gif' %}" alt="Bitcoin logo gif">
            </div>
        </div>

        <div class="newspaper-div">
            <img class="newspaper-clipping" src="{% static 'images/newspaper-clip.webp' %}" alt="Newspaper Clipping">
        </div>
        
        <div class="login-and-register-buttons-div">
            <a href="login"><button class="standard-button">Login</button></a>
            <a href="register"><button class="standard-button">Register</button></a>
        </div>
    </div>

</body>
</html>