{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Honk&family=Pixelify+Sans&family=Sixtyfour&display=swap" rel="stylesheet">
    <title>How Does This Work?</title>
</head>
<body>
    <div class="questions-wrapper">
        <div class="logo-text">
            <div class="logo-and-text">
                <h1>Brink Wallet</h1>
                <img  id="btc-gif" class="btc-gif" src="{% static 'images/bitcoin-gif.gif' %}" alt="Bitcoin logo gif">
            </div>
        </div>

        <div class="header-text">
            <h2>Hello, {{ user.username }}</h2>
            <div class="navigation-links-div">
                <a href="dashboard"><button class="nav-button">Dashboard</button></a>
                <a href="questions"><button class="nav-button nav-active">?</button></a>
                <a href="logout"><button class="logout-button">Logout</button></a>
            </div>
        </div>

        <div id="header" class="header-text">
            <h1>So like...</h1>
            <h2>How does this all work?</h2>
            <div>
                <img class="normal-icon" src="{% static 'images/question-icon.png' %}" alt="Question Mark">
            </div>
        </div>

        <div class="font-pixelify-div educational-div">
            <h2>What is Bitcoin?</h2>
            <p>There's probably an infinite amount of ways to describe bitcoin.</p>
            <p>But for me, bitcoin is a decentralized, permissioned-less, immutable, digital ledger that keeps track of all transactions within the network.</p>
            <p>This allows for individuals to exchange values peer to peer without a middle man, eliminating a multitude of problems that are caused by the traditional, legacy financial system.</p>
            <p>Bitcoin also has a strict supply of 21 million coins, enforced by every node and participant in the network, making it the most verifiably scarced asset in the history of humankind.</p>
            <p>To learn more about bitcoin and its importance to humanity, I recommend resources such as:</p>
            <div class="flex-column">
                <a href="https://hope.com" target="_blank">Hope.com</a>
                <a href="https://unchained.com/blog/" target="_blank">Unchained.com</a>
                <a href="https://stephanlivera.com/"  target="_blank">Stephan Livera Podcast</a>
            </div>
        </div>

        <div class="font-pixelify-div educational-div">
            <h2>How does Brink Wallet work?</h2>
            <p>When you first sign up to Brink Wallet, we randomly generate a bitcoin private key for you.</p>
        </div>
    </div>
</body>
</html>