{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mediaqueries.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Honk&family=Pixelify+Sans&family=Sixtyfour&display=swap" rel="stylesheet">
    <title>How Does This Work?</title>
</head>
<body>
    <div class="questions-wrapper">
        <div class="logo-text margin-top-down">
            <div class="logo-and-text">
                <h1>Brink Wallet</h1>
                <img  id="btc-gif" class="btc-gif" src="{% static 'images/bitcoin-gif.gif' %}" alt="Bitcoin logo gif">
            </div>
        </div>

        <div class="header-text">
            <h2>Hello, {{ user.username }}</h2>
            <div class="navigation-links-div">
                <a href="dashboard"><button class="nav-button">Dashboard</button></a>
                <a href="questions"><button class="nav-button nav-active">?</button></a>
                <a href="logout"><button class="logout-button">Logout</button></a>
            </div>
        </div>

        <div id="header" class="header-text">
            <h1>So like...</h1>
            <h2>How does this all work?</h2>
            <div>
                <img class="normal-icon" src="{% static 'images/question-icon.png' %}" alt="Question Mark">
            </div>
        </div>

        <div class="font-exo-div educational-div">
            <h4 class="italics underlined">None of this is financial advice. Please do your own research.</h4>
            <h4 class="italics underlined">This is for strictly educational purpose only.</h4>
            <h1>What is Bitcoin?</h1>
            <div>
                <img class="normal-icon" src="{% static 'images/btc-wallet.png' %}" alt="Bitcoin wallet">
            </div>
            <p>There's probably an infinite amount of ways to describe bitcoin.</p>
            <p>But for me, bitcoin is a decentralized, permissioned-less, immutable, digital ledger that keeps track of all transactions within the network.</p>
            <p>This allows for individuals to exchange values peer to peer without a middle man, eliminating a multitude of problems that are caused by the traditional, legacy financial system.</p>
            <p>Bitcoin also has a strict supply of 21 million coins, enforced by every node and participant in the network, making it the most verifiably scarced asset in the history of humankind.</p>
            <p>To learn more about bitcoin and its importance to humanity, I recommend resources such as: (I am not sponsored by these companies)</p>
            <div class="flex-column">
                <a href="https://hope.com" target="_blank">Hope.com</a>
                <a href="https://unchained.com/blog/" target="_blank">Unchained.com</a>
                <a href="https://stephanlivera.com/"  target="_blank">Stephan Livera Podcast</a>
            </div>
        </div>

        <div class="font-exo-div educational-div">
            <h1>How does Brink Wallet work?</h1>
            <h3>Your Private Key</h3>
            <div>
                <img class="normal-icon" src="{% static 'images/private-key.png' %}" alt="Private key">
            </div>
            <p>When you first sign up to Brink Wallet, we randomly generate a bitcoin private key for you.</p>
            <p>This private key is then stored on our database. Hence this is called a HOT wallet, meaning the security is significantly lower than that of a cold wallet.</p>
            <p>A cold wallet is one that generates a private key for you and does not store it. It's up to YOU to manage this private key.</p>
            <p>If your private key is stored by the custodian, (similar to this wallet), the risk of the custodian being hacked and lose your funds is very high.</p>
            <p>Remember, anyone who knows your private key has control of your bitcoin.</p>
            <p>In a hot wallet, you sacrifice security for convenience.</p>
            <p class="red">This is why it's crucial to remember that Brink is an experimental wallet, made for educational purpose, and to NEVER send any large amount (more than a dollar or two worth) of bitcoin to it. If any.</p>
            <p>It is much safer to purchase a cold wallet, generate your private key, then store and protect your own key instead.</p>
            <p>I recommend cold wallets such as Jade, Coldcard, or SeedSigner (I am not sponsored by these companies)</p>

            <h3>Your Public Key</h3>
            <div>
                <img class="normal-icon" src="{% static 'images/public-key.webp' %}" alt="Public key">
            </div>
            <p>Your public key is derived from your private key cryptographically.</p>
            <p>The public key can be revealed with low consequences, unlike the private key.</p>
            <p>This public key, however, will then be used to cryptographically generate a public address</p>
            <p>Typically, the public key is only revealed when you are sending bitcoin to another party, not the other way around.</p>
            <p>The public key will help the other party to verify that it's indeed you who owns the bitcoin being sent.</p>

            <h3>Your Public Address</h3>
            <div>
                <img class="normal-icon" src="{% static 'images/public-address.png' %}" alt="Public address">
            </div>
            <p>The public address is derived cryptographically from the public key.</p>
            <p>This is all you need to give out in order to receive bitcoin to your wallet.</p>
            <p>Ideally, you should use a freshly generated address per transaction.</p>
            <p>It's okay to re-use the same address, but if you're looking for privacy, it's not encouraged.</p>
            <p class="red">Remember that this wallet is strictly educational, don't send more than a dollar or two worth of bitcoin to it, if any.</p>
            <p>We recommend REAL companies such as Strike, River, or Swan to buy and receive your BTC. </p>
            <p>(I am not sponsored by these companies)</p>

        </div>

        <div class="font-exo-div educational-div">
            <div>
                <img class="normal-icon" src="{% static 'images/question.png' %}" alt="Question">
            </div>
            <h3>Any additional questions or inquiries, please email me: nguyenduongpa@gmail.com</h3>
            <a href="https://www.linkedin.com/in/softwaredev-danny/" target="_blank"><h3>LinkedIn</h3></a>
            <a href="https://www.dannydev.info" target="_blank"><h3>Website</h3>
            </a>
        </div>
    </div>
</body>
</html>