{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Honk&family=Pixelify+Sans&family=Sixtyfour&display=swap" rel="stylesheet">
</head>
<body>
    <div class="register-wrapper">
        <div class="intro-div logo-text">
            <h2>Welcome to</h2>
            <div class="logo-and-text">
                <h1>Brink Wallet</h1>
                <img id="btc-gif" class="btc-gif" src="{% static 'images/bitcoin-gif.gif' %}" alt="Bitcoin logo gif">
            </div>
        </div>

        <h1>Register</h1>
        <form action="register" method="POST">
            {% csrf_token %}

            <div class="error-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>

            <div data-validate="Please enter email: johnwick@gmail.com">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email" >
            </div>
                
            <div data-validate="Please choose a username">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" >
            </div>

            <div>
                <input type="hidden" name="private_key" value="{{detail.private_key}}" readonly>
            </div>

            <div>
                <input type="hidden" name="public_key" value="{{detail.public_key}}" readonly>
            </div>

            <div>
                <input type="hidden" name="address" value="{{detail.address}}" readonly>
            </div>
            
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" >
            </div>
            
            <div>
                <label for="password2">Confirm Password:</label>
                <input type="password" id="password2" name="password2" placeholder="Confirm Password" >
            </div>
            
            <div>
                <button type="submit">Register</button>
            </div>
        </form>

        <div>
            <h1>Already have an account?</h1>
            <a href="login">Login</a>
        </div>
    </div>
</body>
</html>