body {
    font-family: Arial, sans-serif;
    background-color: wheat;
    margin: 0;
    padding: 0;
}

.error-message {
    color: red;
}

.index-wrapper {
    text-align: center;
}

.register-wrapper {
    text-align: center;
}

.login-wrapper {
    text-align: center;
}

.dashboard-wrapper {
    text-align: center;
}